<!DOCTYPE html>
<html class="theme-next use-motion">
<head>
	<meta charset="UTF-8">
	<#include "commons/header.html"/>
	<title>博客内容表-中华墨风 -'s Zone</title>
	<meta name="description" content="博客内容表">
	<meta name="keywords" content="">
</head>
<body title="双击拉开详情">
	<#include "index/header.html"/>
	<div>
		此处放内容
	</div>
	<#include "commons/footer.html"/>
	<#include "commons/js.html"/>
	<script type="text/javascript" src="${basePath}/js/page/jquery.page.js"></script>
	<script type="text/javascript" src="${basePath}/js/main/blog.js"></script>
</body>
</html>