<style type="text/css">
	header.intro-header {
		background-image: url('http://ozilwgpje.bkt.clouddn.com/blog/home.jpg?imageslim')
		/*config*/
	}
</style>
<header class="intro-header">
	<!-- Signature -->
	<div id="signature">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>胡伟煌</h1>
						<!--<hr class="small">-->
						<span class="subheading">个人博客</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>