<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keyword" content="">
	<title>胡伟煌 | Blog</title>
	<#include "commons/header.html"/>
	<link rel="stylesheet" href="${basePath}/css/pages.css">
</head>
<body>
	<!-- 头部 -->
	<#include "index/header.html"/>
	<!-- 导航-->
	<#include "index/nav.html"/>
	<!-- 导航-->
	<#include "index/content.html"/>
	<!-- Footer -->
	<#include "commons/footer.html"/>
	<!-- Footer -->
	<!-- 引入公共js模板 -->
	<#include "commons/js.html"/>
	<script src="${basePath}/js/vue-nav.js"></script>
	<script src="${basePath}/js/index.js"></script>
</body>
</html>